{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}
	<div>
		<h2 class="arr">Подача обращений физических и юридических лиц</h2>
		<div class="ohidden">
			<p style="text-align: center;">ВНИМАНИЕ!</p>
			<p>Порядок рассмотрения жалобы о совершении судьей дисциплинарного проступка определен ст. 22 Федерального закона от 14 марта 202 г. № 30-ФЗ «Об органах судейского сообщества в Российской Федерации». Указанные жалобы Вы можете подать лично или направить по почте по адресу совета судей.</p>
			<p>В электронном виде могут быть поданы обращения, заявления, жалобы, рассмотрение которых определено Федеральным законом от 02.05.2006 № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации» и Федеральным законом от 22.12.2008 г. № 262-ФЗ «Об обеспечении доступа к информации о деятельности судов в Российской Федерации».</p>
			<p>&nbsp;</p>
			<p>Как обратиться в совет судей с заявлением на действия судей:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Воспользоваться электронным сервисом "<a style="text-decoration: underline;" href="{% link letters_rules %}">Система подачи обращений</a>";</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Подать обращение <a href="{% link menu contact.id %}" style="text-decoration: underline;">лично</a>.</p>
		</div>
	</div>
{% endblock %}