{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}
	<div>
		<h2 class="arr">Подача обращений физических и юридических лиц</h2>
		<div class="ohidden">
			<p style="text-align: center;">Правила подачи обращений, заявлений, жалоб в совет судей в электронном виде.</p>
			<p>При заполнении бланка обращения, заявления, жалобы, согласно Федеральному закону от 2 мая 2006 года №59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации», Вам необходимо указать свою фамилию, имя, отчество (последнее — при наличии), паспортные данные, почтовый адрес, адрес электронной почты, по которому должны быть направлены ответ либо уведомление о переадресации обращения, а также изложить суть обращения (предложения, заявления или жалобы). В случае отсутствия указанных обязательных реквизитов, а также в ряде иных, обращение оставляется без рассмотрения (более подробно правила раскрыты в ст. 11 Федерального закона от 2 мая 2006 года №59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»).</p>
			<p>Обращение не принимается к рассмотрению, если оно не адресовано в совет судей; не содержит конкретных заявлений, жалоб, предложений или запросов.</p>
			<p>Обращения, касающиеся обжалования судебных решений, не рассматриваются, так как согласно Конституции Российской Федерации, правосудие в России осуществляется только судом. Органы судебной власти самостоятельны и действуют независимо от законодательной и исполнительной властей. Решения судебных органов обжалуются в установленном законом процессуальном порядке. Действующее законодательство запрещает всякое вмешательство в процесс отправления правосудия.</p>
			<p>Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных.</p>
			<p>Ответ на обращение, поступившее в совет судей в форме электронного документа, направляется в форме электронного документа по адресу электронной почты, указанному в обращении, или в письменной форме по почтовому адресу, указанному в обращении.</p>
			<p>Так же сообщаем, что по причинам технического характера может быть не рассмотрен текст: напечатанный с использованием латиницы, набранный целиком заглавными буквами; не разбитый на предложения.</p>
			<p>Размер электронного обращения не может превышать 2000 знаков.</p>
			<p>&nbsp;</p>
			<p><a href="{% link letters_form %}" style="text-decoration: underline;">Я принимаю правила</a></p>
		</div>
	</div>
{% endblock %}