<div>
    <ul class="pagenav">

        {# < #}
        {% if objects.has_previous %}
            <li><a href="?page={{ objects.previous_page_number }}{{ url_GET_params }}">&lt;</a></li>
        {% else %}
            <li><a href="" class="nolink">&lt;</a></li>
        {% endif %}


        {% if objects.paginator.page_range|length < 12 %}

            {# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 #}
            {% for num_page in objects.paginator.page_range %}
                <li>
                    <a href="?page={{ num_page }}{{ url_GET_params }}"
                       {% ifequal objects.number num_page %} class="select nolink"{% endifequal %}>{{ num_page }}</a>
                </li>
            {% endfor %}

        {% else %}

            {# 1, 2, 3, 4, 5...8...21, 22, 23, 24, 25 #}
            {% for num_page in objects.paginator.page_range %}
                {% if num_page < 6 %}
                    <li>
                        <a href="?page={{ num_page }}{{ url_GET_params }}"
                           {% ifequal objects.number num_page %} class="select nolink"{% endifequal %}>{{ num_page }}</a>
                    </li>
                {% elif num_page == 6 and objects.number != num_page %}
                    <li><a href="#" class="nolink">...</a></li>
                {% elif objects.number == num_page %}
                    <li>
                        <a href="?page={{ num_page }}{{ url_GET_params }}"
                           {% ifequal objects.number num_page %} class="select nolink"{% endifequal %}>{{ num_page }}</a>
                    </li>
                {% elif num_page == objects.paginator.page_range|length|add:-5 and objects.number != num_page %}
                    <li>
                        <a href="#" class="nolink">...</a>
                    </li>
                {% elif num_page > objects.paginator.page_range|length|add:-5 %}
                    <li>
                        <a href="?page={{ num_page }}{{ url_GET_params }}"
                           {% ifequal objects.number num_page %} class="select nolink"{% endifequal %}>{{ num_page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

        {% endif %}


        {# > #}
        {% if objects.has_next %}
            <li>
                <a href="?page={{ objects.next_page_number }}{{ url_GET_params }}">&gt;</a>
            </li>
        {% else %}
            <li><a href="" class="nolink">&gt;</a></li>
        {% endif %}

    </ul>
    <div class="clear"></div>
</div>
