.text-centered {
	text-align: center !important;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.form-delete {
	margin: 0;
}
.no-border {
	border: none !important;
}
#ajax_process {
	margin-left: auto;
	margin-right: auto;
	width: 140px;
}
