.page-id {
	text-align: center !important;
	vertical-align: middle !important;
	width: 10px;
}
.page-date {
	text-align: center !important;
	vertical-align: middle !important;
	width: 50px;
}
.page-ctrl_btn {
	text-align: center !important;
	vertical-align: middle !important;
	width: 50px;
}