.message-create_date {
	text-align: center !important;
	vertical-align: middle !important;
	width: 140px;
}
.message-status {
	text-align: center !important;
	vertical-align: middle !important;
	width: 50px;
}
.message-delete {
	text-align: center !important;
	vertical-align: middle !important;
	width: 20px;
}
.message-detail-body {
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}
.message-detail-subject {
	padding-bottom: 8px;
	border-bottom: 1px solid #E5E5E5;
}